body{
    background: #6B1AA2;
    filter: blur(0.5px);
    z-index: 1;
}
h1{
    z-index: 10;
    color: #fff;
    text-align: center;
    text-shadow: solid 10px black;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 6px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.itachi{
    background-color: #000;
}
img:first-child{
    grid-column: 1/3;
    grid-row: 1/3;
}
img:nth-child(19){
    grid-column: 1/span 3;
}